[
    Ship((
        id: "racer",
        name: "Racer Yacht",
        hull: (
            sections: [
                (
                    id: "engine_starboard",
                    position: (
                        0.655,
                        0.570945,
                        1.512835,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("racer_engine_starboard"),
                ),
                (
                    id: "engine_port",
                    position: (
                        -0.655,
                        0.570945,
                        1.512835,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("racer_engine_port"),
                ),
                (
                    id: "wing_starboard",
                    position: (
                        0.805,
                        0.5,
                        0.11783552,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("racer_wing_starboard"),
                ),
                (
                    id: "wing_port",
                    position: (
                        -0.805,
                        0.5,
                        0.11783552,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("racer_wing_port"),
                ),
                (
                    id: "nose",
                    position: (
                        0.0,
                        0.611325,
                        -1.512835,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("racer_nose"),
                ),
                (
                    id: "tail",
                    position: (
                        0.0,
                        0.85,
                        1.6128349,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("racer_tail"),
                ),
                (
                    id: "fuselage",
                    position: (
                        0.0,
                        0.7,
                        0.100000024,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("racer_fuselage"),
                ),
            ],
        ),
    )),
    Ship((
        id: "cargob",
        name: "CargoB Hauler",
        hull: (
            sections: [
                (
                    id: "engine_starboard",
                    position: (
                        1.005,
                        0.7,
                        2.0,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargob_engine_starboard"),
                ),
                (
                    id: "engine_port",
                    position: (
                        -1.005,
                        0.7,
                        2.0,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargob_engine_port"),
                ),
                (
                    id: "pod_starboard",
                    position: (
                        1.0550001,
                        0.7,
                        -0.5,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargob_pod_starboard"),
                ),
                (
                    id: "pod_port",
                    position: (
                        -1.0550001,
                        0.7,
                        -0.5,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargob_pod_port"),
                ),
                (
                    id: "nose",
                    position: (
                        0.0,
                        1.0,
                        -1.75,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargob_nose"),
                ),
                (
                    id: "tail",
                    position: (
                        0.0,
                        0.65,
                        2.0,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargob_tail"),
                ),
                (
                    id: "fuselage",
                    position: (
                        0.0,
                        0.9,
                        0.25,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargob_fuselage"),
                ),
                (
                    id: "turret_starboard",
                    position: (
                        1.55,
                        1.2,
                        0.0,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        -0.70710677,
                        0.70710677,
                    ),
                    source: Prototype("cargob_turret_starboard"),
                ),
                (
                    id: "turret_port",
                    position: (
                        -1.55,
                        1.2,
                        0.0,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.70710677,
                        0.70710677,
                    ),
                    source: Prototype("cargob_turret_port"),
                ),
            ],
        ),
    )),
    Ship((
        id: "cargoa",
        name: "CargoA Corvette",
        hull: (
            sections: [
                (
                    id: "engine_starboard",
                    position: (
                        1.205,
                        0.6,
                        1.975,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_engine_starboard"),
                ),
                (
                    id: "engine_port",
                    position: (
                        -1.205,
                        0.6,
                        1.975,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_engine_port"),
                ),
                (
                    id: "pod_starboard",
                    position: (
                        1.205,
                        0.7,
                        0.47500002,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_pod_starboard"),
                ),
                (
                    id: "pod_port",
                    position: (
                        -1.205,
                        0.7,
                        0.47500002,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_pod_port"),
                ),
                (
                    id: "nose",
                    position: (
                        0.0,
                        0.8,
                        -1.8,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_nose"),
                ),
                (
                    id: "tail",
                    position: (
                        0.0,
                        0.5875,
                        1.975,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_tail"),
                ),
                (
                    id: "fuselage",
                    position: (
                        0.0,
                        0.8,
                        0.17500001,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_fuselage"),
                ),
                (
                    id: "turret_starboard",
                    position: (
                        0.95,
                        0.8,
                        -1.8,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        -0.70710677,
                        0.70710677,
                    ),
                    source: Prototype("cargoa_turret_starboard"),
                ),
                (
                    id: "turret_port",
                    position: (
                        -0.95,
                        0.8,
                        -1.8,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.70710677,
                        0.70710677,
                    ),
                    source: Prototype("cargoa_turret_port"),
                ),
            ],
        ),
    )),
    Ship((
        id: "cargoa_raider",
        name: "CargoA Raider Corvette",
        hull: (
            sections: [
                (
                    id: "engine_starboard",
                    position: (
                        1.205,
                        0.6,
                        1.975,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_engine_starboard"),
                    modifications: [
                        SetHealth(25.0),
                    ],
                ),
                (
                    id: "engine_port",
                    position: (
                        -1.205,
                        0.6,
                        1.975,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_engine_port"),
                    modifications: [
                        SetHealth(25.0),
                    ],
                ),
                (
                    id: "pod_starboard",
                    position: (
                        1.205,
                        0.7,
                        0.47500002,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_pod_starboard"),
                    modifications: [
                        SetHealth(203.0),
                    ],
                ),
                (
                    id: "pod_port",
                    position: (
                        -1.205,
                        0.7,
                        0.47500002,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_pod_port"),
                    modifications: [
                        SetHealth(203.0),
                    ],
                ),
                (
                    id: "nose",
                    position: (
                        0.0,
                        0.8,
                        -1.8,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_nose"),
                    modifications: [
                        SetHealth(104.399994),
                    ],
                ),
                (
                    id: "tail",
                    position: (
                        0.0,
                        0.5875,
                        1.975,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_tail"),
                    modifications: [
                        SetHealth(87.0),
                    ],
                ),
                (
                    id: "fuselage",
                    position: (
                        0.0,
                        0.8,
                        0.17500001,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ),
                    source: Prototype("cargoa_fuselage"),
                    modifications: [
                        SetHealth(140.0),
                    ],
                ),
                (
                    id: "turret_starboard",
                    position: (
                        0.95,
                        0.8,
                        -1.8,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        -0.70710677,
                        0.70710677,
                    ),
                    source: Prototype("cargoa_turret_starboard_light"),
                ),
                (
                    id: "turret_port",
                    position: (
                        -0.95,
                        0.8,
                        -1.8,
                    ),
                    rotation: (
                        0.0,
                        0.0,
                        0.70710677,
                        0.70710677,
                    ),
                    source: Prototype("cargoa_turret_port_light"),
                ),
            ],
        ),
    )),
]
