<footer class="site-footer">
    <span>Nova Protocol - a 3D space shooter built with Bevy.</span>
    <nav aria-label="Footer">
        <a href="<%= basePath %>tutorial/">Tutorial</a>
        <a href="<%= basePath %>wiki/">Wiki</a>
        <a href="<%= basePath %>blog/">Blog</a>
        <a href="<%= basePath %>changelog/">Changelog</a>
        <a
            href="https://github.com/alexjercan/nova-protocol"
            target="_blank"
            rel="noopener"
            >GitHub</a
        >
    </nav>
</footer>
